@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "lato";
}

a, a:visited, a:hover, a:active
{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

h1,h2,h3,h4,h5,h6
{
    font-family: "funnel display";
}

body
{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header
{
    height: 70px;
    padding: 0 30px;

    color: white;
    /* background-image: linear-gradient(to right, rgb(44, 60, 131),rgb(7, 7, 54)); */
    background-image: linear-gradient(to right, rgb(45, 80, 130),rgb(7, 7, 54));

    border-bottom: rgb(78, 215, 78) 4px solid;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarBtns
{
    gap: 30px;

    list-style: none;

    display: flex;

}

.navBarBtns li
{
    font-size: 1.25em;
    color: white;

    transition: ease-in-out .25s;
}

.navBarBtns li:hover
{
    transform: scale(1.25);
}


main
{
    margin: 0;
    flex: 1;

    display: flex;
    flex-direction: column;
}

.flexRow
{
    display: flex;
    align-items: center;
}

.viewHeight
{
    min-height: calc(100vh - 70px); /* Height is coming from header */

    display: flex;
    flex-direction: column;
}

.heroSection
{
    padding: 0 10%;
    flex: 1;
    position: relative;

    background-color: goldenrod;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.heroSection img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 1;

}

.heroSection::after
{
    z-index: 2; 

    content: ""; /* For this after to work you need to add this */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(41, 70, 106, 0.85);

}

#heroSectionText
{
    z-index: 3;

    color: white;
    max-width: 600px; /* Keep your slogan from strectching too wide */
}

.heroSection h1
{
    font-size: 5em;
}

.heroSection h2
{
    margin: 0;

    font-size: 2em;
    font-family: "lato";
}

.heroSection button
{
    margin-top: 30px;
    margin-left: 5px;
    padding: 10px 20px;

    background-color: rgb(78, 215, 78);
    color: white;
    border: white 2px solid;
    /* border-radius: 20px; */
    cursor: pointer;

    font-size: 1.25em;
}

.heroSection button:hover
{
    background-color: rgb(59, 163, 59);
    color: white;
}

.infoSection
{
    padding: 50px 20px;
    height: auto;

    border-bottom: 1px solid grey;
}

.infoSection:nth-last-child
{
    border-bottom: none;
}

.infoSection h2
{
    margin-bottom: 20px;
}

#islandsWeServeBg
{
    position: relative;
    padding: 0;

    /* background-color: rgb(44, 60, 131); */
    height: 350px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#islandsWeServeBg::after
{
    z-index: 2; 

    content: ""; /* For this after to work you need to add this */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* background-color: rgba(41, 70, 106, 0.6); */
    background-color: rgba(77, 122, 173, 0.6);

}

#islandsWeServeBgImg
{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center 45%;
}

#islandsWeServeBg h2
{
    color: white;
}


#islandCont
{   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px;
    gap: 20px;
    z-index: 3;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.islandCard
{
    width: 350px;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.islandCard img
{
    height: 150px;
    width: 250px;
    object-fit: fill;
}

.islandCard p
{
    margin-top: 20px;
    color: white;
    font-size: 2em;
}

#homeContactSect
{
    padding: 0;

    position: relative;

    box-sizing: border-box;
}

#homeContactSect::after
{
    z-index: 2; 

    content: ""; /* For this after to work you need to add this */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(41, 70, 106, 0.6);
}

#homeContactSect img
{
    width: 100%;
    height: 350px;

    object-fit: cover;
    object-position: center 75%;
}

#homeContactText
{
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#homeContactText button
{
    padding: 10px 20px;
    margin-top: 30px;

    border: 2px solid white;
    font-size: 1rem;
    background-color: rgb(78, 215, 78) ;
    cursor: pointer;
}

#homeContactText button:hover
{
    background-color: rgb(198, 255, 198);
}


footer
{
    height: 50px;
    padding: 0 20px;

    color: white;
    background-color: rgb(13, 13, 65);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerNav
{
    gap: 40px;

    font-size: 1.25em;
    list-style: none;
    font-weight: 300;

    display: flex;

}

/* -------------
    ABOUT US PAGE
   ------------- */

   #aboutUsCont
   {
        display: flex;
        justify-content: space-between;
   }

   #aboutUsInfo
   {
        /* margin: 20px 0; */
        padding: 0 10px;
   }

   #aboutUsInfo h1,h2
   {

        margin: 30px;
        font-size: 2em;
   }

   #aboutUsInfo p
   {
        margin: 30px;

        font-size: 1.1em;
        font-weight: 300;
   }

   #aboutUsImg img
   {
        margin: 20px;
        width: 400px;
   }

   #ctaDiv p
   {
        margin: 0 30px;
   }

   #ctaLink
   {
        margin: 20px 30px;

        display: inline-block;
   }

/* -------------
    SERVICES
   ------------- */

   #serviceCont
   {
        margin: 10px 30px;

   }

   #serviceList
   {
        max-width: 600px;
        flex: 1;

        border: dotted 2px black;
        padding: 30px;


   }

   #serviceList li
   {
        list-style: inside;
   }

/*  -------------
    SHIPPING PAGE
    ------------- */

    #shippingPage
    {
        padding: 20px;
    }

    #shippingFlex
    {
        width: 90%;

        display: flex;
        justify-content: space-evenly;
    }

    .shippingCard
    {
        margin: 20px;
        max-width: 450px;

        border-radius: 10px;
        overflow: hidden;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.45);

        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .shippingCard h2
    {
        margin: 0;
        padding: 20px 0;

        font-size: 1.5rem;
        background-color: rgb(56, 56, 228);
        text-align: center;
    }

    .shippingCard ul
    {
        padding: 0 50px 10px;
    }

    .shippingCard li
    {
        margin: 20px 0;

        list-style: none;
        font-size: 1.5rem;
        font-weight: 300;

        display: flex;
        align-items: center;
    }

    .shippingCard li img
    {
        padding-right: 30px;
    }

    #shippingCardTextArea
    {
        flex: 1;
    }

    .shippingCard p
    {
        padding: 0 20px;
        height: 100%;

        text-align: center;
        font-size: 1.25rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #shippingCardBtn
    {
        padding: 0 20px 20px;

        display: flex;
        justify-content: center;
    }

    #shippingCardBtn a
    {
        padding: 20px;

        background-color: blue;
        color: white;
        border-radius: 10px;
        border: none;
    }
/* -------------
    CONTACT PAGE
   ------------- */

   #contactSection
   {
        min-height: calc(100vh - 70px - 50px);

        display: flex;
        justify-content: space-between;

   }


   #contact-info,
   #contact-img 
   {
        width: 50%;
   }

   #contact-info
   {
        flex: 1;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
   }

   #contact-info p
   {
        font-size: 1.5em; 

   }

   #contactTitleDiv
   {
        margin: 50px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
   }

   #contactTitleDiv p
   {
        margin: 0;
        color: gray;

        font-size: 1.25em;
        font-weight: 300;
   }

   #contact-info h2
   {
        margin-bottom: 0;
        font-size: 3em;
        
   }

   

   .contactIconBg
   {
        margin: 20px 10px;
        /* width: 45px;
        height: 45px;
        

        background-image: linear-gradient(rgb(78, 215, 78), rgb(41, 172, 41));
        border-radius: 100px;
        box-shadow: 2px 2px 10px rgba(1, 1, 1, .20); */

        display: flex;
        justify-content: center;
        align-items: center;
   }

   #contact-info img
   {
        width: 30px;
   }

   #contactInfoFlex
   {
        width: 100%;;

        display: flex;
        align-items: center;
        flex-direction: column;

   }

   .contactEmailPhoneDiv
   {
        width: 500px;


        display: flex;
        align-items: center;
        /* justify-content: center; */
   }

   #contact-img 
   {
        overflow: hidden;
   }

   #contact-img img
   {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right center;
        
        display: block;
   }