@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "lato";
}

h1,h2,h3,h4,h5,h6
{
    font-family: "funnel display";
}

header
{
    height: 70px;
    padding: 0 20px;

    color: white;
    background-color: rgb(13, 13, 65);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarBtns
{
    gap: 20px;

    list-style: none;

    display: flex;

}

.navBarBtns li
{
    cursor: pointer;
    font-size: 1.25em;
}

main
{
    margin: 0;
}

.heroSection
{
    padding: 0 10%;
    min-height: calc(100vh - 70px); /* Height is coming from header */

    position: relative;

    background-color: goldenrod;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.heroSection img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 1;

}

.heroSection::after
{
    z-index: 2; 

    content: ""; /* For this after to work you need to add this */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(34, 119, 224, 0.65);

}

#heroSectionText
{
    z-index: 3;

    color: white;
    max-width: 600px; /* Keep your slogan from strectching too wide */
}

.heroSection h1
{
    font-size: 5em;
}

.heroSection h2
{
    font-size: 2em;
    font-family: "lato";
}

.infoSection
{
    padding: 50px 20px;
    height: auto;

    border-bottom: 1px solid grey;
}

.infoSection:nth-last-child
{
    border-bottom: none;
}

.infoSection h2
{
    margin-bottom: 20px;
}

#islandCont
{
    display: flex;
    justify-content: space-around;
}

footer
{
    height: 50px;
    padding: 0 20px;

    color: white;
    background-color: navy;

    display: flex;
    align-items: center;
}